<%- include('includes/head') %>

    <body>
        <section class="container">
            <h1>Lorem agnajg asn23eion qooqig iiwjaja</h1>
            <h3>
                <%= minhaVariavelLocal %>
            </h3>
        </section>

        <script src="./assets/js/bundle.js"></script>
    </body>

    </html>